/* Importing variables and defining global styles */

@import "./variables.scss";

/* Global init styles */

* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
  transition-duration: 0.4s;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font, sans-serif !important;
  font-weight: 600 !important;
}

p {
  font-family: $second-font, sans-serif !important;
}

.main-family {
  font-family: $main-font, sans-serif !important;
}

.second-family {
  font-family: $second-font, sans-serif !important;
}

.text-small {
  font-size: small !important;
}

.text-medium {
  font-size: medium !important;
}

.text-large {
  font-size: large !important;
}

.text-larger {
  font-size: 20px !important;
}

.s-p {
  padding: 2rem;
}

.m-0 {
  margin: none;
}

.bold {
  font-weight: bold !important;
}

.black {
  color: black !important;
}

.light {
  color: $light-title !important;
}

a {
  color: $main-color-hover !important;
}

.inline-flex {
  display: inline-flex;
}

.under-construction {
  width: 45%;
  height: auto;
  margin: auto;
  @media screen and (max-width: 900px) {
    width: 80%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
  background: #979797;
}
::-webkit-scrollbar-thumb:hover {
  background: $main-color-hover;
}

.bg-main {
  background-color: $main-color;
  color: #fff;
}

.bg-secondary {
  background-color: $secondary-color;
  color: #010101;
}

.container {
  padding-left: 6rem;
  padding-right: 6rem;
  @media screen and (max-width: 720px) {
    padding: 0.2rem 1rem;
  }
}

.flex {
  display: flex;
}

.uppercase {
  text-transform: uppercase;
}

.banner-title {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}

.section-title {
  font-family: "Work Sans", sans-serif !important;
  font-size: 2rem !important;
}

.f-50 {
  display: flex;
  width: 50%;
}

.inline {
  display: inline;
}

.text-center {
  text-align: center;
}

.btn {
  border: none;
  border-radius: 50px;
  padding: 0.5rem 2rem;
  width: 100%;
  margin: 0.5rem;
  text-align: center;
  display: block;
}

.thin {
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  max-height: 100px;
  align-items: center;
}

.btn-main {
  background-color: $main-color;
  color: #fff;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    background-color: $main-color-hover;
  }
}

.btn-secondary {
  background-color: #062450;
  color: #fff;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    background-color: #063c8d;
  }
}

.btn-gray {
  background-color: #afafaf;
  color: #fff;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    background-color: #bebec2;
  }
}

/* Customize the prime ng element classes */

.p-inputtext {
  font-family: "Work Sans", sans-serif !important;
  padding: 0.4rem 0.75rem !important;
  display: block;
  width: 100%;

  &:hover {
    outline: none;
    box-shadow: none;
  }
  &:enabled:focus {
    border-color: $main-color !important;
    box-shadow: none !important;
  }

  &:enabled:hover {
    border-color: $main-color !important;
  }
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  border-radius: 10px !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  color: $main-color !important;
  border-radius: 10px !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: $main-color !important;
  border-radius: 10px !important;
}
