/*
* Section to define and export variables 
*/

$main-color: #11aa68;
$main-color-hover: #098a52;
$secondary-color: #f1f0f0;
$default-border-radius: 10px;
$light-title: #646464;
$box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
$box-shadow-inverted: 0 -8px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
$main-font: 'Work Sans';
$second-font: 'Open Sans';